
body {margin-top: 3%}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.flexbox-search {
  margin-top: 1%;
  display: flex;
  flex-flow: column wrap;
}

.ingredient {
    align-self: center;
}

input[type="text"] {
    width: 350px;
    cursor: text;
}

.flexbox-filters {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

 .dropdown-menu {
   margin-right: 3%;
   margin-left: 3%;
   cursor: pointer;
 }

 .search-button {
    align-self: center;
    cursor: pointer;
}

article{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-flow: column wrap;
}

.flexbox-results {
    margin-top: 1%;
    display: flex;
    flex-flow  : row;
}

.recipe_description {
    display: flex;
    flex-flow: column;
}

.recipe_label {
    font-size: large;
    cursor: pointer;
}

/*body {

}*/