
body {
  color: #14213D;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  letter-spacing: .25px;
  margin-top: 3%;
  font-weight: 500;
}

/* IMAGES */
img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto
}

img.recipe {
  border-radius: 10px;
  box-shadow: 10px 10px 5px #E5E5E5;
  zoom: 70%;
  opacity: 0.55;
}

img.recipe:hover {
  opacity: 1.0;
}

/* SEARCH BOX */
/* Flexbox for text input and dropdown filters */
.flexbox-search {
display: flex;
flex-flow: column wrap;
margin-top: 1%;
}

.ingredient {
  align-self: center;
}
/* Input area */
input[type="text"] {
  width: 350px;
}

input[type=text]:focus {
  background-color: #fff7e8;
}
/* Flexbox for dropdown filters */
.flexbox-filters {
  color: #14213D;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/* Dropdown filter */
.dropdown-menu {
 cursor: pointer;
 margin-left: 2%;
 margin-right: 2%;
}
/* delete default styles */
select,
input[type='text'],
button,
button:focus {
 background: transparent;
 border: 1px solid transparent;
 cursor: pointer;
 outline: none;
}

/* Search button */
button:active {
 background: transparent;
 border: 1px solid transparent;
 outline: none;
}

input[type='text'] {
  cursor:text;
  background-color: #fff;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .5) 0 3px 5px -2px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: inherit;
  height: 30px;
  line-height: normal;
  max-width: 100%;
  margin-top: 5px;
}

select {
  font-family: inherit;
  cursor:pointer;
  background-color: #fff;
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  height: 30px;
  line-height: normal;
  margin-top: 2px;
  width: 12em;
}
/* new button style */
button {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: inherit;
  font-weight: inherit;
  height: 40px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: max(8em, auto);
  will-change: transform,opacity;
  z-index: 0;
}

select::-ms-expand {
  background: #fff7e8;
  border-radius: 24px;
  color: #14213D;
}

select:active,
select:hover,
button:hover {
  background: #fff7e8;
  color: #14213D;
}

button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

button:focus {
  border: 2px solid #FCA311;
  outline: none;
}

button:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

button:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

button:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

button:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

/* SEARCH RESULTS */
article {
  display: flex;
  flex-flow: column wrap;
  margin-left: 20%;
  margin-right: 20%;
}
/* Flexbox for search results */
.flexbox-results {
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  align-items: flex-start
  flex-shrink: 0;
  width: 100%;
}

/* customize checkbox */
.checkbox {
  align-self: center;
  width: 5%;
  flex: none;
}

/* Checkboxes */
input[type="checkbox"] {
  appearance: none;
  background-color: #E5E5E5;
  border: 0.025em solid #14213D;
  border-radius: 0.25em;
  display: grid;
  height: 1.25em;
  place-content: center;
  transform: translateY(-0.075em);
  width: 1.25em;
}

input[type="checkbox"]::before {
  box-shadow: inset 1em 1em #14213D;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  content: "";
  height: 0.8em;
  width: 0.8em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  transform-origin: bottom left;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(3px, 0.3em) solid #E5E5E5;
  outline-offset: max(3px, 0.3em);
}

.recipe-image {
  flex: none;
  width: 30%;
}

.search-button {
  align-self: center;
}
/* Flexbox for text */
.recipe-description {
  color: #14213D;
  display: flex;
  flex-flow: column;
  align-items: flex-start
  width: 65%;
}
/* Change the style of the first letter only */
.recipe-label::first-letter {
  color: #FCA311;
}
/* Recipe label/name with a hyperlink */
.recipe-label {
  cursor: pointer;
  font-size: x-large;
  font-family: 'Open Sans', sans-serif;
  flex: none;
  height: 20%;
}
/* Ingredients */
.ingr {
  flex-shrink: 0;
  flex-grow: 0;
  line-height: 200%;
  flex-basis: 350px;
  padding-right: 3%;
}

/* Link to recipe */
a {
  color: #14213D;
  text-decoration: none;
}
/* Flexbox for ingredients and nutrition table */
.recipe-info {
  display: flex;
  flex-direction: row;
  flex: none;
  align-items: flex-start
}
/* Nutrition tble container */
.div-table {
  flex: none;
  flex-basis: 30%;
}
/* Nutrition table */
table {
  border-collapse: collapse;
  column-width: 150%;
  table-layout: fixed;
  width: 200px;
}
/* Head of the table */
thead {
  border-bottom: solid 5px #E5E5E5;
  text-align: left;
  height: 23px;
}
/* Row with calories in the table */
.calories td {
  height: 20px;
}
/* Rows in the main part of the table */
tbody td {
  border-top: solid 0.1px #E5E5E5;
  height: 20px;
}
/* Label for sugar */
.sugar {
  text-indent: 15px;
}
/* Table footer */
tfoot {
  text-align: right;
  vertical-align: bottom;
  font-size: 70%;
}

.nutrient-amount {
  text-align: right;
}
/* Save-chosen-recipes button */
.container-save-button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 5%;
}

.save-button {
  align-self:center;
}