
body {margin-top: 3%}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.flexbox-search {
  margin-top: 1%;
  display: flex;
  flex-flow: column wrap;
  color: #14213D;
}

.ingredient {
    align-self: center;
}

input[type="text"] {
    width: 350px;
/*    cursor: text;*/
}

.flexbox-filters {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  color: #14213D;
}

 .dropdown-menu {
   margin-right: 3%;
   margin-left: 3%;
   cursor: pointer;
 }

 .search-button {
    align-self: center;
    cursor: pointer;
}

article{
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    flex-flow: column wrap;
}

.flexbox-results {
    margin-top: 4%;
    display: flex;
    flex-flow  : row;
}

.recipe-image {
    margin-right: 3%;
    zoom: 70%;
    box-shadow: 10px 10px 5px #E5E5E5;
}

.recipe-description {
    display: flex;
    flex-flow: column;
    color: #14213D;
}

.recipe-label::first-letter {color: #FCA311;}
.recipe-label {
    font-size: x-large;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.ingr {
    text-transform: lowercase;
}

a {
    color: #14213D;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}