<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
    </head>
    <body>

    <h1>EDAMAM RECIPE SEARCH</h1>

    <p>To jest wyszukiwarka</p>

    <form method="POST">

        <label for="ingredient">Enter the ingredient:</label><br>
        <input type="text" id="ingredient" name="ingredient">
        <br><br>

        <label for="c_type">Cuisine type:</label><br>
        <select id="c_type" name='c_type'>
            <option selected></option>
            {% for c in cuisine %}
                <optgroup label={{c.group}}>
                    {% for t in c.type %}
                        <option>{{t}}</option>
                    {% endfor %}
                </optgroup>
            {% endfor %}
        </select>

        <br>

        <label for="m_type">Meal type:</label><br>
        <select id="m_type" name='m_type'>
            <option selected></option>
            {% for m in meal %}
                <option>{{m}}</option>
            {% endfor %}
        </select>

        <br>

        <label for="d_type">Diet type:</label><br>
        <select id="d_type" name='d_type'>
            <option selected></option>
            {% for d in diet %}
                <option>{{d}}</option>
            {% endfor %}
        </select>
        <br>

        <button type="submit">Search</button>

    </form>

    <br>

    {% for recipe in list_of_recipes %}
        <p>
            <img src={{recipe.image}} alt="recipe image">
            {{ recipe.index }}. {{ recipe.label }}
            <a href="{{recipe.url}}">{{ recipe.url }}</a>
            Kcal per serving: {{ recipe.cal }}
        </p>
    {% endfor %}

    </body>
</html>